server:
  port: 8081

spring:
  application:
    name: wallet-service
  datasource:
    url: jdbc:mysql://localhost:3306/walletdb
    username: root
    password: system
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
